.custom-vessel-icon.highlight img {
    animation: pulse 1.5s infinite;
    border: 3px solid #ff0000;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff0000;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
