@using Microsoft.AspNetCore.Components.Web
@using HarborFlowSuite.Core.DTOs
@using HarborFlowSuite.Core.Models
@using HarborFlowSuite.Client.Services
@inject IJSRuntime JSRuntime
@inject IVesselPositionSignalRService VesselPositionSignalRService
@implements IAsyncDisposable

<div id="@MapElementId" style="width: 100%; height: 600px;"></div>

<VesselTooltip IsVisible="_isTooltipVisible" Vessel="_hoveredVessel" Position="_tooltipPosition" />

@code {
    [Parameter]
    public string MapElementId { get; set; } = "map";

    private bool _isTooltipVisible;
    private VesselPositionDto? _hoveredVessel;
    private System.Drawing.Point _tooltipPosition;

    [Parameter]
    public EventCallback<int> OnTotalMapVesselCountChanged { get; set; }

    [Parameter]
    public EventCallback<List<VesselTypeSummaryDto>> OnVisibleVesselTypeSummaryChanged { get; set; }

    [Parameter]
    public IEnumerable<Port> Ports { get; set; }

    private DotNetObjectReference<VesselMap> _dotNetHelper;
    private IEnumerable<Port> _currentPorts;

    protected override async Task OnInitializedAsync()
    {
        _dotNetHelper = DotNetObjectReference.Create(this);
        VesselPositionSignalRService.OnPositionUpdateReceived += OnPositionUpdateReceived;
        await VesselPositionSignalRService.StartConnection();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("HarborFlowMap.initMap", MapElementId, _dotNetHelper);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Ports != null && Ports.Any() && (Ports != _currentPorts))
        {
            _currentPorts = Ports;
            await JSRuntime.InvokeVoidAsync("HarborFlowMap.addPortMarkers", _currentPorts);
        }
    }

    private void OnPositionUpdateReceived(string mmsi, double lat, double lng, double heading, double speed, string name, string vesselType, VesselMetadataDto metadata)
    {
        UpdateVesselMarker(mmsi, lat, lng, heading, speed, name, vesselType, metadata);
        StateHasChanged();
    }

    public async Task UpdateVesselMarker(string mmsi, double lat, double lng, double heading, double speed, string name, string vesselType, VesselMetadataDto metadata)
    {
        await JSRuntime.InvokeVoidAsync("HarborFlowMap.updateVesselMarker", mmsi, lat, lng, heading, speed, name, vesselType, metadata);
    }

    [JSInvokable]
    public async Task UpdateTotalMapVesselCount(int count)
    {
        await OnTotalMapVesselCountChanged.InvokeAsync(count);
    }

    [JSInvokable]
    public async Task UpdateVisibleVesselTypeSummary(List<VesselTypeSummaryDto> summary)
    {
        await OnVisibleVesselTypeSummaryChanged.InvokeAsync(summary);
    }

    [JSInvokable]
    public void ShowVesselTooltip(VesselPositionDto vessel, int x, int y)
    {
        _hoveredVessel = vessel;
        _tooltipPosition = new System.Drawing.Point(x, y);
        _isTooltipVisible = true;
        StateHasChanged();
    }

    [JSInvokable]
    public void HideVesselTooltip()
    {
        _isTooltipVisible = false;
        _hoveredVessel = null;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        _dotNetHelper?.Dispose();
        VesselPositionSignalRService.OnPositionUpdateReceived -= OnPositionUpdateReceived;
        await VesselPositionSignalRService.StopConnection();
    }
}