@using Microsoft.AspNetCore.Components.Web
@using HarborFlowSuite.Core.DTOs
@using HarborFlowSuite.Core.Models
@using HarborFlowSuite.Client.Services
@inject IJSRuntime JSRuntime
@inject IVesselPositionSignalRService VesselPositionSignalRService
@implements IAsyncDisposable

<div id="@MapElementId" style="width: 100%; height: 600px;"></div>


@code {
    [Parameter]
    public string MapElementId { get; set; } = "map";

    [Parameter]
    public EventCallback<int> OnTotalMapVesselCountChanged { get; set; }

    [Parameter]
    public EventCallback<List<VesselTypeSummaryDto>> OnVisibleVesselTypeSummaryChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnVesselClick { get; set; }

    [Parameter]
    public IEnumerable<Port> Ports { get; set; }

    private DotNetObjectReference<VesselMap> _dotNetHelper;
    private IEnumerable<Port> _currentPorts;
    private bool _isMapInitialized;

    protected override async Task OnInitializedAsync()
    {
        _dotNetHelper = DotNetObjectReference.Create(this);
        VesselPositionSignalRService.OnPositionUpdateReceived += OnPositionUpdateReceived;
        await VesselPositionSignalRService.StartConnection();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("HarborFlowMap.initMap", MapElementId, _dotNetHelper);
            _isMapInitialized = true;

            if (_currentPorts != null && _currentPorts.Any())
            {
                await JSRuntime.InvokeVoidAsync("HarborFlowMap.addPortMarkers", _currentPorts);
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Ports != null && Ports.Any() && (Ports != _currentPorts))
        {
            _currentPorts = Ports;
            if (_isMapInitialized)
            {
                await JSRuntime.InvokeVoidAsync("HarborFlowMap.addPortMarkers", _currentPorts);
            }
        }
    }

    private async void OnPositionUpdateReceived(string mmsi, double lat, double lng, double heading, double speed, string
    name,
    string vesselType, VesselMetadataDto metadata)
    {
        await UpdateVesselMarker(mmsi, lat, lng, heading, speed, name, vesselType, metadata);
    }

    public async Task UpdateVesselMarker(string mmsi, double lat, double lng, double heading, double speed, string name,
    string vesselType, VesselMetadataDto metadata)
    {
        await JSRuntime.InvokeVoidAsync("HarborFlowMap.updateVesselMarker", mmsi, lat, lng, heading, speed, name, vesselType,
        metadata);
    }

    [JSInvokable]
    public async Task UpdateTotalMapVesselCount(int count)
    {
        await OnTotalMapVesselCountChanged.InvokeAsync(count);
    }

    [JSInvokable]
    public async Task UpdateVisibleVesselTypeSummary(List<VesselTypeSummaryDto> summary)
    {
        await OnVisibleVesselTypeSummaryChanged.InvokeAsync(summary);
    }

    [JSInvokable]
    public async Task OnVesselSelected(string mmsi)
    {
        if (OnVesselClick.HasDelegate)
        {
            await OnVesselClick.InvokeAsync(mmsi);
        }
    }



    public async ValueTask DisposeAsync()
    {
        if (_dotNetHelper != null)
        {
            _dotNetHelper.Dispose();
        }
        VesselPositionSignalRService.OnPositionUpdateReceived -= OnPositionUpdateReceived;
        await VesselPositionSignalRService.StopConnection();
    }
}