@using Microsoft.AspNetCore.Components.Authorization
@using HarborFlowSuite.Abstractions.Services
@using HarborFlowSuite.Client.Services
@inject NavigationManager NavigationManager
@inject IClientAuthService AuthService

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile" class="nav-link">
            <span class="fas fa-user-circle profile-icon" aria-hidden="true"></span>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="register">Register</a>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>