@page "/ais-integration"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using HarborFlowSuite.Core.Models
@using HarborFlowSuite.Client.Components
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject HubConnection HubConnection

@attribute [Authorize]

<PageTitle>AIS Integration</PageTitle>

<h1>AIS Integration</h1>

<p>Real-time AIS data display.</p>

<VesselMap @ref="vesselMap" />

@code {
    private VesselMap? vesselMap;

    protected override async Task OnInitializedAsync()
    {
        if (HubConnection.State == HubConnectionState.Disconnected)
        {
            await HubConnection.StartAsync();
        }

        HubConnection.On<string, double, double, double, double, string>("ReceiveVesselPositionUpdate",
            async (mmsi, lat, lng, heading, speed, name) =>
            {
                if (vesselMap != null)
                {
                    await vesselMap.UpdateVesselMarker(mmsi, lat, lng, heading, speed, name);
                    await InvokeAsync(StateHasChanged);
                }
            });
    }
}